@page
@model WebdevProjectStarterTemplate.Pages.Bestelling

@{
	ViewData["Title"] = "Bestelling";
}

<!DOCTYPE html>

<html lang="nl">
<head>
	<title></title>
</head>
<body>
<div>
	Bestelling
</div>
</body>
</html>