@page
@model WebdevProjectStarterTemplate.Pages.Drankenkaart

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <p>Pagina voor drankenkaart</p>
</div>
</body>
</html>