@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div>
	<p>Welkom bij de NHL Stenden Cafe app</p>
	<p>Deze app is gemaakt voor het project Web Development</p>
	
	<p class="pt-5">Bekijk de <a href="/Drankenkaart">Drankenkaart</a></p>
</div>