@page
@model WebdevProjectStarterTemplate.Pages.LoginModel
@{
	ViewData["Title"] = "Login";
}

<div class="container w-50 shadow-lg p-3 mb-5 rounded-2">
	<form method="post">
		<p class="display-5">Login</p>
		<div class="mb-3">
			<label for="exampleInputEmail1" class="form-label">Email address</label>
			<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
		</div>
		<div class="mb-3">
			<label for="exampleInputPassword1" class="form-label">Password</label>
			<input type="password" class="form-control" id="exampleInputPassword1">
		</div>

		<button type="submit" class="btn btn-outline-secondary justify-content-center">
			Submit
		</button>
	</form>
</div>
