@page
@model WebdevProjectStarterTemplate.Pages.Overview

@{
	ViewData["Title"] = "Overzicht";
	decimal? totalPayAmount = 0, payAmount = 0;	
}

<div xmlns="http://www.w3.org/1999/html">
	<div class="row">
		<div class="row-12">
			<table class="table table-striped table-hover">
				<tr>
					<th>Product</th>
					<th>Aantal</th>
					<th>Prijs</th>
					<th>Totaal</th>
				</tr>
				@foreach(string key in HttpContext.Session.Keys) {
					@if(key == "TotalPayAmount" || key == "user") { continue; }
					payAmount = Model.Products.First(p => p.Name == key).Price * HttpContext.Session.GetInt32(key);
					totalPayAmount += payAmount;
					<form method="post">
						<tr>
							<td>@key</td>
							<td>
								<button class="btn" name="action" value="min" asp-page-handler="Add" type="submit">
									<i class="fa fa-minus-circle"></i>
								</button>
								<input type="hidden" name="DrinkName" value="@key">
								@HttpContext.Session.GetInt32(key)
								<button class="btn" name="action" value="plus" asp-page-handler="Add" type="submit">
									<i class="fa fa-plus-circle"></i>
								</button>
							</td>
							<td>
								€@(Model.Products.First(p => p.Name == key).Price)
							</td>
							<td>
								€@payAmount
							</td>
						</tr>
					</form>
				}
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td><strong>€@totalPayAmount</strong></td>
				</tr>
			</table>
			<br />
			<a href="/MultiPayment" class="btn btn-primary float-end mx-1">Betalen per persoon</a>
			<a href="/SinglePayment" class="btn btn-primary float-end ">Alles betalen</a>
		</div>
	</div>
</div>