@page
@model WebdevProjectStarterTemplate.Pages.SinglePayment

@{
	ViewData["Title"] = "Betaling";
	decimal? totalPayAmount = 0;
}

<div class="row">
	<div class="container">
		<div class="row">
			<div class="col-12">
				@if (HttpContext.Session.Keys.Any())
				{
					<table class="table table-striped table-hover">
						<thead>
						<tr>
							<th>Product</th>
							<th>Nog te betalen</th>
							<th>Prijs</th>
							<th>Totaal</th>
						</tr>
						</thead>
						<tbody>
						@foreach (var key in HttpContext.Session.Keys)
						{
							if (key == "user") { continue; }
							decimal? payAmount = Model.Products.FirstOrDefault(p => p.Name == key)?.Price *
							                     HttpContext.Session.GetInt32(key);
							totalPayAmount += payAmount;
							<tr>
								<td>@key</td>
								<td>@HttpContext.Session.GetInt32(key)</td>
								<td>€@(Model.Products.FirstOrDefault(p => p.Name == key)!.Price)</td>
								<td>@payAmount</td>
							</tr>
						}
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td><strong>@totalPayAmount</strong></td>
						</tr>
						</tbody>
					</table>
					<form method="POST">
						<button type="submit" class="btn btn-primary float-end">Betalen</button>
					</form>
				}
				else
				{
					<p>Alles is betaald</p>
				}
			</div>
		</div>
	</div>
</div>
